import * as template from './secretTemp';

export * from './secretTemp';

export const JWT_SECRET = process.env.JWT_SECRET!;
export const MYSQL_CONFIG = {
  ...template.MYSQL_CONFIG,
  database: 'billd_desk',
  host: '127.0.0.1',
  port: 13306,
  username: 'billddesk',
  password: process.env.DB_PASSWORD!,
};
export const REDIS_CONFIG = {
  ...template.REDIS_CONFIG,
  database: 0,
  socket: { host: '127.0.0.1', port: 16379 },
  username: 'default',
  password: process.env.REDIS_PASSWORD!,
};
